@font-face {
    font-family: 'Cancer';
    src : url('../fonts/johnnyfont/dystopian_future-webfont.wof') format('wof2'),
          url('../fonts/johnnyfont/dystopian_future-webfont.wof') format('wof'),
          url('../fonts/DystopianFuture.ttf') format('truetype');
}

body, html {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

.background {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.frame {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: url('../img/frame.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
}


.title {
    font-family: 'Cancer';
    font-weight: 130;
    font-size: 2rem;
    color: white;
    margin: 50px 0;
    padding: 0;
    z-index: 150;
}

#root {
    position: relative;
    width: 1000px;
    height: 640px;
    margin: 0 auto;
    background-color: red;
    z-index: 100;
}

#johnny {
    position: absolute;
    background-image: url('../img/johnny.gif');
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 55px;
    z-index: 150;
}

.cancer {
    position: absolute;
    background-image: url('../img/cancer.png');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    z-index: 150;
}

.game_over {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    z-index: 2000;
}

.obstacle {
    position: absolute;
    background-image: url('../img/cigarette.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    z-index: 150;
}
