body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 32px;
    color: white;
    margin: 0;
    padding: 0;
}

#root {
    margin: 50px auto;
    border-collapse: collapse;
}

td{
    border: solid 1px white;
    height: 40px;
    width: 40px;
}

#tacos{
  display: none;
}

.buttons{
  perspective: 100px;
  display: inline-block;
}

.buttonUp{
  position: absolute;
  top: 200px;
  left: 200px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: #c82122;
  transform: rotateX(35deg);
  box-shadow: 0 0 5px darkgrey;
}
