@font-face {
    font-family: 'Cancer';
    src : url('../fonts/johnnyfont/dystopian_future-webfont.wof') format('wof2'),
          url('../fonts/johnnyfont/dystopian_future-webfont.wof') format('wof'),
          url('../fonts/DystopianFuture.ttf') format('truetype');
}

body, html {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  font-size: calc(1vw + 1vh + .5vmin);
}


.title {
    font-family: 'Cancer';
    font-weight: 100;
    font-size: 2rem;
    color: #fff;
    margin: 0;
    padding: 0;
}

#root {
    margin: 50px auto;
    border-collapse: collapse;
}

td{
    border: solid 1px white;
    height: 40px;
    width: 40px;
}
