body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 32px;
    color: white;
    margin: 0;
    padding: 0;
}

#root {
    margin: 50px auto;
    border-collapse: collapse;
}

td{
    border: solid 1px white;
    height: 10px;
    width: 10px;
}
